@keyframes rays {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
}

@keyframes sparkle {

  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes title-reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-with-bounce {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button-reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s forwards;
}

.animate-title-reveal {
  animation: title-reveal 0.4s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.animate-text-reveal {
  animation: text-reveal 0.4s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.animate-fade-in-delay {
  animation: fade-in 0.4s forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.animate-fade-in-with-bounce {
  animation: fade-in-with-bounce 0.4s forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

.animate-slide-in-right {
  animation: slide-in-right 0.4s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.animate-button-reveal {
  animation: button-reveal 0.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.animate-rays {
  animation: rays 1s infinite;
}

.animate-sparkle {
  animation: sparkle 1.5s infinite;
}